@import "../shared/styles/home.styles.scss";

.main-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    border: 2px lightgrey solid;
}

:host ::ng-deep .mat-tab-label, .mat-tab-link {
    color: grey;
}

.example-card {
    width: 33%;
    border: 1px solid $primary-white;
    box-shadow: 5px 5px 5px $primary-white;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}