<app-header></app-header>

<div class="main-con">
    <div class="header-big">
        Lets grow together...
    </div>
    <div class="content">
        <div class="content-heading">
            Angular + Spring Boot
        </div>
        <div class="main-content">
            <div class="learning-detail">
                <p>
                    I will be posting my learning here, as a Full Stack Developer.<br />
                    I will be using Angular 13 and Spring Boot.<br />
                    I will be sharing Tips and Tricks too !!!<br />
                    So remain <i>Tuned</i>
                </p>
            </div>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Full Stack</mat-card-title>
                    <mat-card-subtitle>Software Engineer</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/logos/angular.png"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        ng new NewProject<br/>
                        ng add @angular/material<br/>
                        npm run start
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>


<app-footer></app-footer>