/* You can add global styles to this file, and also import other style files */

@import "./app/shared/styles/home.styles.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.white-class {
    color: #fff;
}

.link-btn {
    background-color: $bg-color;
    border: none !important;
    color: $primary-white;
    cursor: pointer;

    &.link-btn-selected {
        color: $link-underline;
    }
}