<div class="footer-wrapper">
    <div class="footer-con">
        <div class="main-footer">
            <!-- <img src="../../../assets/logos/my-logo.svg" alt="my-logo" /> -->
            <div>Hi</div>
            <div class="feedback">
                Any feedback ...?
            </div>
            <div class="future-plans">
                My Future Plans
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="copyright">
            <span><mat-icon>copyright</mat-icon>{{currentYear}} All rights reserved.</span>
        </div>
    </div>
</div>