@import "../styles/home.styles.scss";

.footer-wrapper {
    position: relative;
    bottom: 0;
    background-color: $bg-color;
    width: 100%;
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.connect, .feedback, .future-plans {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}