<div class="footer-wrapper">
    <div class="footer-con">
        <div class="main-footer">
            <div class="connect white-class">
                <h3>Connect</h3>
                <p>LinkedIn</p>
                <p>Mobile</p>
            </div>
            <div class="feedback white-class">
                <h3>Feedback</h3>
                <p>Mail us</p>
            </div>
            <div class="future-plans white-class">
                <h3>My Future Plans</h3>
                <p>Coming Soon...</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="copyright white-class">
            <mat-icon matPrefix>copyright</mat-icon>{{currentYear}} All rights reserved.
        </div>
    </div>
</div>